{% load static %}
<html>
<head>
<!--Morris, jquery, bootstrap cdn import-->
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Twitter Analysis</title>
</head>
<body>
<button class="btn btn-danger col-sm-12" onclick="getData();">Click</button>
    <div class="col-sm-6">
        <h2>총 언급량</h2>
        <div id="data1"></div>
        <div class="text-center" id="legend5" style="padding-left : 5%;"></div>
    </div>
    <hr>
    <div class="col-sm-6">
        <h2>종류별 데이터</h2>
        <div id="data2"></div>
        <div class="text-center" id="legend2" style="padding-left : 5%;"></div>
    </div>
    <hr>
    <div class="col-sm-6">
        <h2>시간대별 관심도(메뉴별)</h2>
        <div id="data3"></div>
        <div class="text-center" id="legend" style="padding-left : 5%;"></div>
    </div>
    <hr>
    <div class="col-sm-6">
        <h2>요일별 관심도(메뉴별)</h2>
        <div id="data4"></div>
        <div class="text-center" style="padding-left : 5%;" id="legend1"></div>
    </div>
    <hr>
    <div class="col-sm-6">
        <h2>시간대별 관심도(종류별)</h2>
        <div id="data5"></div>
        <div class="text-center" id="legend3" style="padding-left : 5%;"></div>
    </div>
    <hr>
    <div class="col-sm-6">
        <h2>요일별 관심도(종류별)</h2>
        <div id="data6"></div>
        <div class="text-center" id="legend4" style="padding-left : 5%;"></div>
    </div>

<div id="data"></div>

<script src="http://code.jquery.com/jquery-2.0.0.js"></script>  
<script>
$(document).ready(function(){
    /*
    Morris.Line({
        element: 'data1',
        data: 
        xkey: 'y',
        ykeys: ['한식', '중식', '일식'],
        labels: ['한식', '중식', '일식'],
    });
    */
})

data_time = {}
data_day = {}
function getData(){
    $.ajax({
        url : "{% url 'JY:getData' %}",
        type : "GET",
        data : {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(res)
        {
            data_time = res.data_times;
            data_day = res.data_days;
            a = Object.keys(data_time.data);
            DrawGraph(res);
        },
        error : function(res){
            alert("Error");
        }
    });
}

function DrawGraph(res)
{
    colors = ['#0b62a4', '#DCE775', '#F48FBE', '#EC407E', '#7B1FA2', '#5E35BE','#BBDEFE', '#64B5FE', '#5C6BC0', '#303F9F', '#1565CE', '#82B1FE', '#80DEEE', '#00E5FE','#81C78E', '#00796B', '#5F6460'];
    var config = {
        xkey: 'y',
        xLabelAngle: 45,
        lineColors: colors,
        hideHover : true
    };

  

    var data;
    var datas = [];
    //총 언급량
    //var value = []
    for ( var item in res.data_types){
        var tmp_list = res.data_types[item];
        datas.push({
            'y' : item,
            '언급량' : tmp_list[0]+tmp_list[1]+tmp_list[2]
        });
    }
    config.data = datas;
    config.ykeys = ['언급량'];
    config.labels = ['총 언급량']
    config.element = 'data1';
    config.xLabels = "y";
    config.parseTime = false;
    b = Morris.Line(config);
    
    b.options.labels.forEach(function(val, i){
        var span = $("<span></span>");
        span.text(val).prepend("<span>　</span>");
        span.find("span").css('background-color', colors[i]).css("margin-left", "5px");
        $("#legend5").append(span);
    });

    


    //종류별 데이터
    datas = [];
    for ( var item in res.data_types){
        var tmp_list = res.data_types[item];
        datas.push({
            'y' : item,
            '한식' : tmp_list[1],
            '중식' : tmp_list[0],
            '일식' : tmp_list[2]
        });
    }

    config.data = datas;
    config.ykeys = ['중식', '한식', '일식'];
    config.labels =['중', '한', '일'];
    config.element = 'data2';
    a = Morris.Line(config);
    a.options.ykeys.forEach(function(label, i){
        var $span = $("<span></span>");
        $span.text(label).prepend("<span>　</span>");
        $span.find("span").css('background-color', colors[i]).css("margin-left", "5px");
        $("#legend2, #legend3, #legend4").append($span);
    });
    //시간대별
    col = []
    d_list = []
    var num = 0;
    col = Object.keys(data_time['data'][0]);
    for ( var a in data_time['data']){
        data_time['data'][a]['hours'] = num++;
        data = data_time['data'][a];
        d_list.push(data);
    }

    //legend
    for (var i=0; i<colors.length; i++)
    {
        var span = "<span class=\"mr-3 ml-3\" style=\"background-color :"+colors[i]+"\">　</span>" + col[i] + " ";
        $("#legend").append(span);
        $("#legend1").append(span);
    
    }


    // labels, keys setting
    config.labels = col;
    config.ykeys = col;
    config.xkey = "hours";
    config.xLabels = "hour";
    config.parseTime = false;
    config.element = 'data3';
    config.data = d_list;
    Morris.Line(config);

    //요일별
    d_list = []
    day = ['월', '화', '수', '목', '금', '토', '일'];
    num = 0
    for ( var a in data_day['data']){
        data_day['data'][a]['day'] = day[num++];
        data = data_day['data'][a];
        d_list.push(data);
    }
    config.xkey = "day";
    config.xLabels = "day";
    config.data = d_list;
    config.element = 'data4';
    Morris.Line(config);

    // 요일별
    num =0;
    d_list=[];
    data = res.data_days_by_type;
    //alert(Object.entries(res.data_days_by_type['data']));
    for ( var a in data['data']){
        data['data'][a]['day'] = day[num++];
        d_list.push(data['data'][a]);
        //alert(Object.values(data['data'][a]) + Object.keys(data['data'][a]));
    }
    config.labels = ['중식', '한식', '일식'];
    config.ykeys = ['0', '1', '2'];
    config.xkey = "day";
    //config.xLabels = "day";
    config.data = d_list;
    config.element = "data6";
    Morris.Line(config);


    // 시간대별 관심도(종류별)
    d_list = [];
    num = 0;
    tmp_data = res.data_times_by_type;
    for ( var a in Object.keys(tmp_data['data'])){        
        tmp_data['data'][a]["hours"] = num++;
        d_list.push(tmp_data['data'][a]);
    }
    config.element = "data5";
    config.xkey = "hours"
    config.data = d_list;
    // 배열도 키 값으로 0, 1, 2 인덱스에 매칭되어 있다.
    config.labels = ['중식', '한식', '일식'];
    config.ykeys = ['0', '1', '2'];
    Morris.Line(config);
    
}
</script>
</body>
</html>

