{% load static %}
<html>
<head>
<!--Morris, jquery, bootstrap cdn import-->
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Twitter Analysis</title>
</head>
<body>
<button class="btn btn-danger" onclick="getData();">Click</button>
    <div>
        <h2>총 언급량</h2>
        <div id="data1"></div>
    </div>
    <hr>
    <div>
        <h2>종류별 데이터</h2>
        <div id="data2"></div>
    </div>
    <hr>
    <div>
        <h2>시간대별 관심도</h2>
        <div id="data3"></div>
    </div>
    <hr>
    <div>
        <h2>요일별 관심도</h2>
        <div id="data4"></div>
    </div>
    <hr>

<script src="http://code.jquery.com/jquery-2.0.0.js"></script>  
<script>
$(document).ready(function(){
    /*
    Morris.Line({
        element: 'data1',
        data: 
        xkey: 'y',
        ykeys: ['한식', '중식', '일식'],
        labels: ['한식', '중식', '일식'],
    });
    */
})

data_time = {}
data_day = {}
function getData(){
    $.ajax({
        url : "{% url 'JY:getData' %}",
        type : "GET",
        data : {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(res)
        {
            data_time = res.data_times;
            data_day = res.data_days;
            a = Object.keys(data_time.data);

            DrawGraph(res);
        },
        error : function(res){
            alert("Error");
        }
    });
}

function DrawGraph(res)
{
    var config = {
        xkey: 'y',
        xLabelAngle: 45,
    };
    var data;
    //총 언급량
    data = [
        { y: '2018-04-01', '언급량' : '5'},
        { y: '2018-04-02', '언급량' : '6'},
        { y: '2018-04-03', '언급량' : '7'},
        { y: '2018-04-04', '언급량' : '8'},
        { y: '2018-04-05', '언급량' : '10'},
        { y: '2018-04-06', '언급량' : '2'},
        { y: '2018-04-07', '언급량' : '-1'}
    ];
    config.data = data;
    config.ykeys = ['언급량'];
    config.labels = ['총 언급량']
    config.element = 'data1';
    config.xLabels = "day";
    Morris.Line(config);

    //종류별 데이터
    data = [
        { y: '2018-04-01', '한식' : 5, '중식' : 100, '일식': 200},
        { y: '2018-04-02', '한식' : 2, '중식' : 100, '일식': 200},
        { y: '2018-04-03', '한식' : 1, '중식' : 100, '일식': 200},
        { y: '2018-04-04', '한식' : -10, '중식' : 100, '일식': 200},
        { y: '2018-04-05', '한식' : 20, '중식' : 100, '일식': 200},
        { y: '2018-04-06', '한식' : 18, '중식' : 100, '일식': 200},
        { y: '2018-04-07', '한식' : 36, '중식' : 100, '일식': 200}
    ];
    config.data = data;
    config.ykeys = ['한식', '중식', '일식'];
    config.labels =['한', '중', '일'];
    config.element = 'data2';
    Morris.Line(config);

    //시간대별
    col = []
    d_list = []
    for ( var a in data_time['data']){
        ['data'][a]['y'] = "00:00";
        data = JSON.stringify(data_time['data'][a]);
        d_list.push(data);
    }
    alert(d_list[1]);
    col = Object.keys(data_time['data'][0]);
    config.labels = col;
    config.xkey = 3;
    config.ykeys = col;
    config.data = d_list;
    config.xLabels = "hour";
    config.element = 'data3';
    Morris.Line(config);

    //요일별
    config.xLabels = "day";
    config.xLabelFormat = function (x){
        day = ['일', '월', '화', '수', '목', '금', '토'];
        return day[new Date(x).getDay()];
    };
    config.element = 'data4';
    Morris.Line(config);

}
</script>
</body>
</html>